/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header, footer, .hero-section {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link-text, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.left-header, .right-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-signup {
    background-color: #3882F6;
    color: white;
    padding: 4px 32px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    color: #3882F6;
}

.random-section {
  text-align: center;
  margin: 30px 0;
}

.random-section-detail {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.random-section-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding: 20px 0;
}

.random-section-img{
  border: 3px solid blue;
  border-radius: 8px;
  margin-bottom: 10px;
}

.quote-section {
  background-color: #E5E7EB;
  text-align: center;
  padding: 130px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.quote-citation {
  font-weight: 900;
  display: block;
  text-align: right;
  margin-top: 10px;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: white;
}

.cta-section {
  background-color: #3882F6;
  padding: 50px 80px;
  border-radius: 8px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-header {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.cta-text {
  color: #E5E7EB;
}

.cta-button {
  padding: 8px 30px;
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: white;
  font-size: 20px;
}